:root {
  scroll-behavior: smooth; /* Remember to add a section break div at the end, so the browser can scroll far enough
  n.b. that, apparently, there are some js functions like window.scroll that do this. Maybe you could use them, to introduce a 'rush' effect. See this site: https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
  font-family: 'Roboto Mono', monospace;
  /* overflow: hidden; */ /* You should disable scrolling only for very-big screens */
}

.left_sidebar_static {
  width: 250px;
  height: 100%;
  position: fixed; /* will stay in place when I scroll */
  z-index: 1; /* on top of other elements */
  top: 0; /* at the top of the page */
  left: 0; /* at the left of the page */
  background-color: #111;
  overflow-x: hidden; /* no horizontal scrolling */
  padding-top: 60px; /* so they start below the title */
}

.right_sidebar_contact{
  height: 100%;
  width: 250px;
  position: fixed; /* will stay in place when I scroll */
  z-index: 1; /* on top of other elements */
  top: 0; /* at the top of the page */
  right: 0; /* at the right of the page */
  background-color: #FFF;
  overflow-x: hidden; /* no horizontal scrolling */
  padding-top: 60px; /* so they start below the title */
} /* You could put common elements of these sidebars into a variable. The question is, how are you going to scale this structure to mobile devices?*/

.left_sidebar_dynamic {
  display: none;
}

.dynamic_handburger_button {
  display: none;
}

.left_sidebar_static a {
  padding: 6px 8px 6px 16px;
  margin: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.left_sidebar_static a:hover {
  color: black;
  background-color: white
}


#main_title {
  margin-left: 300px; /* sidebar width + .main padding */
}

.main {
  margin-left: 250px; /* this needs to be same as sidebar width. Would it be clever to use a variable here? */
  margin-right: 250px; /* ibid */
  padding: 0px 50px;
}

.selfie {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.section_break {
  height: 100vh;
}

.project_title {
  margin-top: 70px;
}

.testimonial {
  text-align: right;
}
