:root {
  scroll-behavior: smooth; /* Remember to add a section break div at the end, so the browser can scroll far enough
  n.b. that, apparently, there are some js functions like window.scroll that do this. Maybe you could use them, to introduce a 'rush' effect. See this site: https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
  font-family: 'Roboto Mono', monospace;
  /* overflow: hidden; */ /* You should disable scrolling only for very-big screens */
}

.left_sidebar_static {
  display: none;
}

.dynamic_hamburger_button {
  overflow: hidden;
  height: 30px;
  width: 25px;
  position: fixed;
  z-index: 2000;
}

.dynamic_hamburger_button svg {
  position: fixed;
  z-index: 2001;
}

.left_sidebar_dynamic {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 60px; /*consider removing for mobiles*/
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left_sidebar_dynamic a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.contact_bar {
  display: none;
}

.selfie {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.project_title {
  margin-top: 70px;
}

q {
  font-style: italic;
}

.testimonial {
  text-align: right;
}

header {
  margin-left: 40px;
  margin-right: 40px;
}

section {
  margin-left: 40px; /*Maybe this is the offender for your ul not being as far left as you'd like*/
  margin-bottom: 20vh;
}

section a {
  overflow-wrap: break-word;
}

section ul {
  padding-left: 25px;
}

footer {
  margin-left: 40px;
  text-align: center;
}

footer img {
  max-width: 100%;
}

/* carousel stuff */
