:root {
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', monospace;
}

.left_sidebar_static {
  display: none;
}

.dynamic_hamburger_button {
  overflow: hidden;
  height: 30px;
  width: 25px;
  position: fixed;
  z-index: 2000;
}

.dynamic_hamburger_button svg {
  position: fixed;
  z-index: 2001;
}

.left_sidebar_dynamic {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2003;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 60px; /*consider removing for mobiles*/
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left_sidebar_dynamic a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.contact_bar {
  display: none;
}

.selfie {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.project_title {
  margin-top: 70px;
}

q {
  font-style: italic;
}

.testimonial {
  text-align: right;
}

header {
  margin-left: 40px;
  margin-right: 40px;
}

section {
  margin-left: 40px;
  margin-bottom: 20vh;
}

section a {
  overflow-wrap: break-word;
}

section ul {
  padding-left: 25px;
}

footer {
  margin-left: 40px;
  text-align: center;
}

footer img {
  max-width: 100%;
}

/* carousel stuff */

.carousel {
  max-width: 100%; /* TODO: work out why you're using both max and min here. min seems effective for mobile, max for desktop */
  min-width: 100%;
  overflow-x: hidden;
  background-color: #000;
  position: relative;
}

.carousel_images {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  position: relative;
}

.carousel_images figure {
  min-width: 100%;
  margin: 0;
}

.carousel_images figcaption {
  font-size: 10px;
  color: #FFF;
  padding: 2px;
}

.carousel_images img {
  max-width: 100%;
  vertical-align: middle;
}

#playPause {
  display: none;
  position: absolute;
  color: #dedede;
  opacity: 0.9;
  font-size: 40px;
}

.carousel_dots {
 display: flex;
 justify-content: center;
 background-color: #FFF;
}

.carousel_dots ul {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.carousel_dots ul li {
  padding: 4px 8px;
}

.carousel_dots button {
  border-radius: 50%;
  border-width: 0px;
  background-color: #DBDBDB;
  outline: none;
  height: 12px;
}

.carousel_dots .current_dot {
  background-color: #636363;
  transition: all 0.4s ease;
}
