:root {
  scroll-behavior: smooth; /* Remember to add a section break div at the end, so the browser can scroll far enough
  n.b. that, apparently, there are some js functions like window.scroll that do this. Maybe you could use them, to introduce a 'rush' effect. See this site: https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
  font-family: 'Roboto Mono', monospace;
  /* overflow: hidden; */ /* You should disable scrolling only for very-big screens */
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed; /* will stay in place when I scroll */
  z-index: 1; /* on top of other elements */
  top: 0; /* at the top of the page */
  left: 0; /* at the left of the page */
  background-color: #111;
  overflow-x: hidden; /* no horizontal scrolling */
  padding-top: 60px; /* so they start below the title */
}

.sidebar p a {
  padding: 6px 8px 6px 16px;
  margin: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.sidebar p a:hover {
  color: black;
  background-color: white
}

.contact_me_bar{
  position: fixed; /* will stay in place when I scroll */
  z-index: 1; /* on top of other elements */
  top: 0; /* at the top of the page */
  right: 0; /* at the right of the page */
  background-color: #FFF;
  overflow-x: hidden; /* no horizontal scrolling */
  padding-top: 60px; /* so they start below the title */

}

.main {
  margin-left: 200px; /* this needs to be same as sidebar width. Would it be clever to use a variable here? */
  margin-right: 200px; /* ibid */
  padding: 0px 50px;
/*  display: flex; */
}

.selfie {
  width: 50%;
  float: right;
}

.section_break {
  height: 100vh;
}

.project_title {
  margin-top: 70px;
}

.testimonial {
  text-align: right;

}
